In [44]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [45]:
dataset = pd.read_csv("new_data.csv")
dataset

       Period   Ax   Bx  Gap   Au    Lam         Force
0         950  115  295   70   70  0.636  4.120000e-11
1         950  115  295   70   70  0.638  6.980000e-11
2         950  115  295   70   70  0.640  1.240000e-10
3         950  115  295   70   70  0.642 -1.410000e-10
4         950  115  295   70   90  0.632  6.220000e-11
...       ...  ...  ...  ...  ...    ...           ...
59995    1200  195  335  420  150  0.634 -5.580000e-10
59996    1200  195  335  420  150  0.636 -5.870000e-10
59997    1200  195  335  420  150  0.638 -6.030000e-10
59998    1200  195  335  420  150  0.640 -6.080000e-10
59999    1200  195  335  420  150  0.642 -5.970000e-10

[60000 rows x 7 columns]

In [46]:
X = dataset.iloc[:, 0:5]
X

       Period   Ax   Bx  Gap   Au
0         950  115  295   70   70
1         950  115  295   70   70
2         950  115  295   70   70
3         950  115  295   70   70
4         950  115  295   70   90
...       ...  ...  ...  ...  ...
59995    1200  195  335  420  150
59996    1200  195  335  420  150
59997    1200  195  335  420  150
59998    1200  195  335  420  150
59999    1200  195  335  420  150

[60000 rows x 5 columns]

In [47]:
Y = dataset.iloc[:, 5:6]
Y

         Lam
0      0.636
1      0.638
2      0.640
3      0.642
4      0.632
...      ...
59995  0.634
59996  0.636
59997  0.638
59998  0.640
59999  0.642

[60000 rows x 1 columns]

In [48]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
# sc_X = StandardScaler()
# sc_Y = StandardScaler()
# X = sc_X.fit_transform(X)
# Y = sc_Y.fit_transform(Y)
X = X.to_numpy()
Y = Y.to_numpy()

In [49]:
X

array([[ 950,  115,  295,   70,   70],
       [ 950,  115,  295,   70,   70],
       [ 950,  115,  295,   70,   70],
       ...,
       [1200,  195,  335,  420,  150],
       [1200,  195,  335,  420,  150],
       [1200,  195,  335,  420,  150]])

In [50]:
Y

array([[0.636],
       [0.638],
       [0.64 ],
       ...,
       [0.638],
       [0.64 ],
       [0.642]])

In [51]:
# spliting the dataset into training set and test set
from sklearn.model_selection import train_test_split
Y = Y.reshape(-1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [52]:
from sklearn.svm import SVR
# The most important SVR parameter is the Kernel. We would select RBF (Radial Basis Function) first
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, Y_train)

SVR()

In [54]:
y_pred = regressor.predict(X)
y_pred.shape

(60000,)

In [55]:
y_pred_train = regressor.predict(X_train)

In [56]:
training_error = np.mean(np.square(np.array(Y_train) - np.array(y_pred_train)))
training_error

1.167600000000002e-05

In [57]:
y_pred_test = regressor.predict(X_test)
testing_error = np.mean(np.square(np.array(Y_test) - np.array(y_pred_test)))
testing_error

1.1624000000000018e-05

In [73]:
#combined = [y_pred_test, Y_test]
# Period   Ax   Bx  Gap   Au

df = pd.DataFrame({'Period': X_test[:,0], 'Ax': X_test[:,1], 'Bx': X_test[:,2], 'Gap': X_test[:,3], 'Au': X_test[:,4], 'Predicted': y_pred_test, 'Actual': Y_test })
df.to_csv("out.csv", index=False)