In [288]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [289]:
dataset = pd.read_csv("data-15Feb.csv")
dataset

      Period   Ax   Bx  Gap   Au    Lam         Force
0        950  115  295   70   70  0.636  4.120000e-11
1        950  115  295   70   70  0.638  6.980000e-11
2        950  115  295   70   70  0.640  1.240000e-10
3        950  115  295   70   70  0.642 -1.410000e-10
4        950  115  295   70   90  0.632  6.220000e-11
...      ...  ...  ...  ...  ...    ...           ...
9995     950  195  335  420  150  0.634  2.940000e-10
9996     950  195  335  420  150  0.636  2.950000e-10
9997     950  195  335  420  150  0.638  2.960000e-10
9998     950  195  335  420  150  0.640  2.970000e-10
9999     950  195  335  420  150  0.642  2.980000e-10

[10000 rows x 7 columns]

In [290]:
X = dataset.iloc[:, 0:6]
X

      Period   Ax   Bx  Gap   Au    Lam
0        950  115  295   70   70  0.636
1        950  115  295   70   70  0.638
2        950  115  295   70   70  0.640
3        950  115  295   70   70  0.642
4        950  115  295   70   90  0.632
...      ...  ...  ...  ...  ...    ...
9995     950  195  335  420  150  0.634
9996     950  195  335  420  150  0.636
9997     950  195  335  420  150  0.638
9998     950  195  335  420  150  0.640
9999     950  195  335  420  150  0.642

[10000 rows x 6 columns]

In [291]:
Y = dataset.iloc[:, 6:7]
Y

             Force
0     4.120000e-11
1     6.980000e-11
2     1.240000e-10
3    -1.410000e-10
4     6.220000e-11
...            ...
9995  2.940000e-10
9996  2.950000e-10
9997  2.960000e-10
9998  2.970000e-10
9999  2.980000e-10

[10000 rows x 1 columns]

In [292]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_Y = StandardScaler()
X = sc_X.fit_transform(X)
Y = sc_Y.fit_transform(Y)
# X = X.to_numpy()
# Y = Y.to_numpy()

In [293]:
X

array([[ 0.        , -1.76021608,  0.40289533, -1.17154695, -0.87964606,
        -0.29301764],
       [ 0.        , -1.76021608,  0.40289533, -1.17154695, -0.87964606,
         0.29254919],
       [ 0.        , -1.76021608,  0.40289533, -1.17154695, -0.87964606,
         0.87811602],
       ...,
       [ 0.        ,  1.34422145,  1.39769862,  1.54683964,  1.46326527,
         0.29254919],
       [ 0.        ,  1.34422145,  1.39769862,  1.54683964,  1.46326527,
         0.87811602],
       [ 0.        ,  1.34422145,  1.39769862,  1.54683964,  1.46326527,
         1.46368285]])

In [294]:
# Y = Y*10**5
Y

array([[0.14685433],
       [0.24632435],
       [0.43483048],
       ...,
       [1.03304183],
       [1.0365198 ],
       [1.03999777]])

In [295]:
# spliting the dataset into training set and test set
from sklearn.model_selection import train_test_split
Y = Y.reshape(-1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [296]:
from sklearn.svm import SVR
# The most important SVR parameter is the Kernel. We would select RBF (Radial Basis Function) first
regressor = SVR(kernel = 'rbf', gamma=0.9, C=100)
regressor.fit(X_train, Y_train)

SVR(C=100, gamma=0.9)

In [297]:
y_pred = regressor.predict(X)
y_pred.shape

(10000,)

In [298]:
y_pred_train = regressor.predict(X_train)

In [299]:
training_error = np.mean(np.square(np.array(Y_train) - np.array(y_pred_train)))
training_error

0.005570117103209262

In [300]:
y_pred_test = regressor.predict(X_test)
testing_error = np.mean(np.square(np.array(Y_test) - np.array(y_pred_test)))
testing_error

0.01092419934568895

In [301]:
#combined = [y_pred_test, Y_test]
# Period   Ax   Bx  Gap   Au

#Reverse the scaling
X_test = sc_X.inverse_transform(X_test)
y_pred_test = sc_Y.inverse_transform(y_pred_test.reshape(1, -1))
Y_test = sc_Y.inverse_transform(Y_test.reshape(1, -1))
y_pred_test = y_pred_test.reshape(-1)
Y_test = Y_test.reshape(-1)
print(y_pred_test.shape, Y_test.shape, X_test.shape)


df = pd.DataFrame({'Period': X_test[:,0], 'Ax': X_test[:,1], 'Bx': X_test[:,2], 'Gap': X_test[:,3], 'Au': X_test[:,4], 'Lam': X_test[:,5], 'Predicted': y_pred_test, 'Actual': Y_test })
df.to_csv("out.csv", index=False)

(2000,) (2000,) (2000, 6)